<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Concurso de materiales educativos</title>

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/styles/main.css}">
    <link rel="stylesheet" th:href="@{/styles/material.css}">

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&family=Merriweather+Sans:wght@300;400&family=Merriweather:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="container-center">
        <a href="/"><img th:src="@{/images/logo-nav.png}" alt="CED concurso educacion digital"></a>
        <ul class="nav-links">
            <li><a href="#">Acerca del CED</a></li>
            <li><a href="/material/user">Participar</a></li>
            <li><a href="#">Convocatoria</a></li>
            <li><a href="/material">Ver materiales presentados</a></li>
            <li><a href="#">Contacto</a></li>
            <li sec:authorize="isAuthenticated()"><form class="logout-button" th:action="@{/logout}" method="post"><input type="submit" class="button" value="Cerrar sesión" /></form></li>
            <li sec:authorize="isAnonymous()"><form class="logout-button" th:action="@{/login}" method="get"><input type="submit" class="button" value="Iniciar sesión" /></form></li>
        </ul>
        <button class="nav-toggle-button"onclick="toggleNavLinks()">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </nav>

    <section class="materials-section container-center">
        <h1>Materiales presentados</h1>
        <h2>Si desea votar por alguno de los materiales, click en el enlace y encotrara la opción de votar por ese material</h2>
        <div class="materials">
            <div th:each="material : ${materials}">
                <a th:href="${'/material/' + material.getId()}">
                    <div class="material">
                        <div class="image"></div>
                        <div class="content">
                            <h4 th:text="${material.getName()}"></h4>
                            <p th:text="${material.getDescription()}"></p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <script>
        function toggleNavLinks(button) { document.querySelector(".nav-links").classList.toggle("active");}
    </script>
</body>
</html>