<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Consurso de materiales educativos</title>

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/styles/main.css}">
    <link rel="stylesheet" th:href="@{/styles/login.css}">

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&family=Merriweather+Sans:wght@300;400&family=Merriweather:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <section class="login-section">
        <div class="login-modal">
            <img th:src="@{/images/logo-ced.png}" alt="CED concurso educación digital">
            <form class="login-form" th:action="@{/login}" method="post">
                <h1>Ingresar al sistema</h1>
                <p>Ingresa con tu cuenta institucional</p>
                <label>Correo electronico: <input type="email" name="email"></label>
                <label>Contraseña: <input type="password" name="password"></label>
                <div class="login-error" th:if="${param.error}">Email o contraseña incorrecta</div>
                <button class="button" type="submit">Iniciar sesión</button>
            </form>
        </div>
    </section>
</body>
</html>
