.home-section {
    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--gray-bg-color);
}

.home-section > div {
    display: flex;
}

.home-section img {
    width: 40%;
    max-width: 350px;
    margin-right: 50px;
    object-fit: contain;
}
.home-section .content {
    margin-top: 30px;
}

.home-section .content h1 {
    margin-bottom: 5px;
    font-size: var(--text-size-x-large);
}

.home-section .content p {
    color: var(--gray-text-color);
    line-height: 26px;
    font-weight: 300;
}

@media only screen and (max-device-width : 960px) {
    .home-section img {
        display: none;
    }
}