.auth-section {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;

    background: var(--light-blue-color);
}

.auth-modal {
    width: 80%;
    max-width: 800px;
    margin: auto;
    padding: 30px 30px 30px 20px;
    display: flex;

    background: var(--white-bg-color);
    border-radius: 8px;
}

.auth-modal img {
    width: 50%;
    max-width: 400px;
    margin-right: 30px;
    object-fit: contain;
}

.auth-form {
    width: 45%;
    margin: auto 0;
    display: flex;
    flex-direction: column;
}

.auth-form h1 {
    margin-bottom: 10px;

    color: var(--gray-text-color);
    font-size: var(--text-size-x-large);
    font-family: "Open sans", Sans-serif, serif;
    font-weight: 500;
}

.auth-form h2 {
    margin-bottom: 25px;

    color: var(--gray-text-color);
    font-size: var(--text-size-large);
    font-family: "Open sans", Sans-serif, serif;
    font-weight: 300;
}

.auth-form label {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

    color: var(--gray-text-color);
    font-size: var(--text-size-medium);
}

.auth-form input {
    height: 40px;
    margin-top: 5px;
    padding: 0 10px;

    color: var(--gray-text-color);
    font-size: var(--text-size-small);
    border: 1px solid var(--light-gray-color);
}

.auth-form input:-webkit-autofill {
    -webkit-text-fill-color: var(--gray-text-color);
}

.auth-form input:focus {
    outline: 1px solid var(--light-gray-color);
}

.auth-form p {
    margin-bottom: 10px;

    font-size: var(--text-size-medium);
}

@media only screen and (max-device-width : 960px) {
    .auth-modal {
        width: 90%;
        padding: 40px 20px;
        flex-direction: column;
        align-items: center;
    }

    .auth-modal img {
        width: 50%;
        max-width: 250px;
        margin: 10px 0 20px 0;
        content: url("../images/logo-nav.png");
    }

    .auth-form {
        width: 100%;
    }

    .auth-form h1 {
        font-size: var(--text-size-x-large-mobile);
    }

    .auth-form h2 {
        font-size: var(--text-size-large-mobile);
    }
}