:root {

    /* ***** COLORS ***** */
    --blue-color: #2D96CA;
    --light-blue-color: #45A4D2;
    --orange-color: #EEB72B;
    --purple-color: #5B14B7;
    --green-color: #8CD147;
    --light-green-color: #F4FBED;
    --light-gray-color: #A0A0A0;
    --red-color: #ff3838;
    --light-red-color: #fff5f5;

    /* ***** BACKGROUND COLOR ***** */
    --white-bg-color: #FFFFFF;
    --gray-bg-color: #f2f2f2;
    --blue-bg-color: #45A4D2;

    /* ***** TEXT COLOR ***** */
    --white-text-color: #FFFFFF;
    --gray-text-color: #505050;
    --dark-gray-text-color: #404040;
    --black-text-color: #000000;

    /* ***** TEXT SIZE ***** */
    --text-size-small: 12px;
    --text-size-medium: 14px;
    --text-size-large: 20px;
    --text-size-x-large: 32px;
    --text-size-large-mobile: 18px;
    --text-size-x-large-mobile: 26px;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Open sans", Sans-serif, serif;
}

/* ***** HEADING ***** */

h1, h2, h3, h4, h5, h6 {
    font-family: "Merriweather", Sans-serif, serif;
}

/* ***** BUTTON ***** */

.button {
    width: fit-content;
    height: 50px;
    padding: 10px 30px;

    color: var(--white-text-color);
    font-size: var(--text-size-small);
    font-weight: 500;
    text-transform: uppercase;
    background: var(--light-blue-color);
    border: none;
    cursor: pointer;

    transition: 0.2s;
}

.button:hover {
    background: var(--blue-color);
}

/* ***** SECTION ***** */

section {
    min-height: calc(100vh - 100px);
}

/* ***** CONTAINER CENTER ***** */

.container-center {
    width: 100vw;
    padding: 0 10vw;
}

/* ***** NAVIGATION ***** */

nav {
    width: 100%;
    height: 100px;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;

    background: var(--white-bg-color);
}

nav img {
    height: 60px;
}

.nav-links {
    display: flex;
    align-items: center;

    background: var(--white-bg-color);

    transition: 2s;
}

.nav-links a {
    margin-right: 20px;

    color: var(--dark-gray-text-color);
    font-size: var(--text-size-medium);
    font-weight: 500;
}

.nav-links .logout-button {
    margin-left: 10px;
}

.nav-toggle-button {
    display: none;

    background: none;
    border: none;
}

.nav-toggle-button .icon-bar {
    display: block;
    width: 25px;
    height: 4px;
    margin-bottom: 3px;
    background-color: var(--gray-text-color);
}

@media only screen and (max-device-width : 960px) {

    .nav-links {
        display: none;
    }

    .nav-links.active {
        width: 100%;
        padding: 0 10% 10px 10%;
        display: flex;
        flex-direction: column;
        align-items: start;
        position: absolute;
        top: 100px;
        left: 0;
    }

    .logout-button {
        margin: 0;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .nav-toggle-button {
        display: block;
    }
}

/* ***** ALERTS ******/
.alert {
    margin-bottom: 20px;
    padding: 10px 15px;

    border-radius: 2px;
    font-size: var(--text-size-medium);
}

.alert.danger {
    background: var(--light-red-color);
    border: 1px solid var(--red-color);
    color: var(--red-color);
}

.alert.success {
    background: var(--light-green-color);
    border: 1px solid var(--green-color);
    color: var(--green-color);
}

/* ***** VALIDATION ERROR ***** */
.validation-error {
    margin-top: 5px;

    color: var(--red-color);
    font-size: var(--text-size-medium);
}

input.error {
    background: var(--light-red-color) !important;
    border: 1px solid var(--red-color) !important;
}

